html, body {
    height: 100%;
    font-family: "Noto Sans KR", sans-serif;
}

#wrapper {
    height: 100%;
    
    #header {
        position: relative;
        z-index: 10;
        height: 60px;
        padding: 0 15px;
        border-bottom: 2px solid #000;
        font-size: 0;
        color: #fff;
        box-sizing: border-box;

        .logo {
            display: inline-block;
            width: 35px;
            line-height: 58px;
            font-size: 0;
            vertical-align: middle;

            a {
                display: block;
            }
        }

        .gnb {
            display: inline-block;
            margin-left: 100px;
            vertical-align: middle;

            &__inner {
                font-size: 0;
            }

            &__list {
                display: inline-block;
                width: 140px;
                margin-left: -1px;
                vertical-align: top;
                box-sizing: border-box;

                &:first-child {
                    margin-left: 0;
                }
                
                &__link {
                    display: block;
                    width: 100%;
                    height: 58px;
                    border: {
                        left: 1px solid #CCC;
                        right: 1px solid #CCC;
                    };
                    font-size: 16px;
                    line-height: 58px;
                    text-align: center;
                    box-sizing: border-box;
                    transition: background 0.35s;

                    &:hover {
                        background: #EEE;
                    }
                }   
            }
        }

        .utilMenu {
            float: right;
            margin-top: 15px;
        }

        .colorChip {
            &__inner {
            }

            &__list {
                display: inline-block;
                width: 30px;
                margin-left: 5px;
                vertical-align: top;

                &:first-child {
                    margin-left: 0;
                }

                label {
                    input {
                        & + span {
                            display: block;
                            width: 30px;
                            height: 30px;
                            cursor: pointer;
                            box-sizing: border-box;
                        }

                        &:checked + span {
                            border: 2px solid #000;
                        }
                    }
                }
            }
        }
    }

    #container {
        min-height: 100%;
        margin: -60px 0 -100px;
    }

    #content {
        padding: 60px 0 100px;
    }

    #footer {
        position: relative;
        z-index: 10;
        height: 100px;
        background: #000;
        color: #fff;
    }
}