.theme {
	&__blue {
		#header {
			border-bottom: 2px solid #205FB4 !important;
		}

		&__bg {
			background: #205FB4 !important;
		}

		&__color {
			color: #205FB4 !important;
		}
	}
	
	&__green {
		#header {
			border-bottom: 2px solid #82B024 !important;
		}

		&__bg {
			background: #82B024 !important;
		}

		&__color {
			color: #82B024 !important;
		}
	}
	
	&__orange {
		#header {
			border-bottom: 2px solid #FF7D39 !important;
		}

		&__bg {
			background: #FF7D39 !important;
		}

		&__color {
			color: #FF7D39 !important;
		}
	}
	
	&__red {
		#header {
			border-bottom: 2px solid #CF1218 !important;
		}
		
		&__bg {
			background: #CF1218 !important;
		}

		&__color {
			color: #CF1218 !important;
		}
	}
	
	&__purple {
		#header {
			border-bottom: 2px solid #613DC9 !important;
		}

		&__bg {
			background: #613DC9 !important;
		}

		&__color {
			color: #613DC9 !important;
		}
	}
}