* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

input,
input[type="button"],
button {
    border: 0;
    border-radius: 0;
    background: none;
    vertical-align: middle;
}

button {
    cursor: pointer;
}

img {
    vertical-align: baseline;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

em, i {
    font-style: normal;
}

.blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

@mixin layoutWidth($width, $margin) {
    max-width: #{$width}px;
    margin: $margin;
}

@mixin clear() {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.ih {
    &__wrapper {
        @include layoutWidth(750, 0 auto);
    }

    &__header {
        position: relative;
        @include layoutWidth(690, 0 auto);

        .logo {
            font-size: 40px;
        }

        .today {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 28px;
        }
    }

    &__container {

    }

    &__content {

    }

    &__btn {
        font-size: 0;

        &__black {
            border: 2px solid #000;
            background: #000;
            color: #FFF;
        }

        &__gray {
            border: 2px solid #666;
            background: #666;
            color: #FFF;
        }

        &__white {
            border: 2px solid #000;
            color: #000;
        }

        &__b {
            width: 100px;
            height: 50px;
            font-size: 18px;
        }

        &__s {
            width: 50px;
            height: 30px;
            font-size: 14px;
        }
    }

    // 
    &__writing {
        position: relative;
        @include layoutWidth(690, 40px auto 0);
        padding-right: 100px;

        &__input {
            width: 100%;
            height: 50px;
            border: 2px solid #000;
            padding: 0 10px;
            font-size: 18px;
        }

        &__add {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &__state {
        @include layoutWidth(690, 20px auto);

        &__inner {
            font-size: 0;
        }

        &__list {
            display: inline-block;
            margin-left: 20px;
            vertical-align: top;

            &:first-child {
                margin-left: 0;
            }

            span {
                display: inline-block;
                font: {
                    size: 18px;
                    weight: 600;
                };
                vertical-align: bottom;
            }

            em {
                display: inline-block;
                margin-left: 5px;
                font-size: 18px;
                color: #999;
                vertical-align: bottom;
            }
        }
    }

    &__todo {
        @include layoutWidth(690, 20px auto);

        &__inner {
            border-top: 2px solid #000;
            font-size: 0;
        }

        &__list {
            padding: 20px 0;
            border-bottom: 1px solid #aaa;
        }

        &__view {
            position: relative;
            min-height: 64px;
            padding-right: 70px;

            .view {
                &__title {
                    display: block;

                    input {
                        & + p {
                            font-size: 18px;
                            line-height: 24px;
                            cursor: pointer;
                        }

                        &:checked + p {
                            text-decoration: line-through;
                        }
                    }
                }

                &__date {
                    display: block;
                    margin-top: 10px;
                    font-size: 14px;
                    color: #999;
                }

                &__btn {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 70px;
                    text-align: center;

                    button {
                        margin-top: 4px;

                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }
            }
        }

        &__update {
            position: relative;
            padding-right: 200px;

            .update {
                &__input {
                    width: 100%;
                    height: 50px;
                    border: 2px solid #000;
                    padding: 0 10px;
                    font-size: 18px;
                }

                &__btn {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 200px;
                }
            }
        }
    }

    .empty-list {
        p {
            padding: 150px 0;
            border-bottom: 1px solid #aaa;
            font-size: 20px;
            text-align: center;
        }
    }
}